* {
    box-sizing: border-box;
}
body {
    font-family: sans-serif;
    color: #3A3A3A;
    margin: 0;
    padding-bottom: 35rem;
    position: relative;
    background: linear-gradient(135deg, #01CC4C, #0B01A4); /*for backup when pic doesn't load*/
    background-image: url(https://images.pexels.com/photos/7726105/pexels-photo-7726105.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
    background-position: left center;
    background-size: 100%;
    background-attachment: fixed;
} 

@media screen and (orientation: portrait) { /*when viewing in portrait mode*/
    body {
        background: linear-gradient(135deg, #01CC4C, #0B01A4);
}
}

.banner-img {
    background-image: url(https://github.com/UWFront-End-Cert/starters/blob/master/lesson04-mock2-banner-image.jpg?raw=true);
    min-height: 316px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.banner-text-container {
    position: absolute;
    text-align: center;
    color: white;
    text-align: left;
    vertical-align: middle;
    margin-left: 12%;
    top: 10%;
    

}
.banner-text-container h1 {
    font-size: 3.5rem;
    text-transform: uppercase;
}
.banner-text-container p {
    font-size: 2.5rem;
    line-height: normal;
    font-style: italic;
    color: #ffffff;
}


.nav-bar-main {
    position: absolute;
    text-align: left;
    top: 316px;
    width: 100%;
    background: lightgrey;
    text-indent: 11%;
    padding: .8rem 0;

}
.nav-bar-main ul {
    list-style-type: none;
    padding: 0;
    
}
.nav-bar-main li {
    display: inline;
    
}
.nav-bar-main a {
    text-decoration: none;
    font-size: 1rem;
    color: black;
    font-weight: bold;
    padding: 1%;
}
.nav-bar-main a:hover {
    outline: 2px solid black;
}

.nav-bar-main li:after {
    content: "/";
    padding: .4rem;
    color: black;
    font-weight: bold;
}
.nav-bar-main li:last-of-type:after {
    content: none;
}


main {
    display: flex;
    margin-top: 5rem;
    margin-bottom: 5rem;
}
h3 {
    font-size: 1.3rem;
    line-height: 180%;
    color: #0000ff;
}
h2 {
    font-size: 1.8rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
}
p {
    line-height: 180%;
    font-size: 1.1rem;
    color: black;
}

.left-side {
    width: 65%;
    margin: 0 2% 0 12%;
    padding: 1rem;
    background-color: #ffffffbf;
}
.quote {
    color: #0000ff;
    padding: 2rem 0 0 0;
    font-size: 1.5rem;
    margin-bottom: 0;
}
.cite-quote {
    color: #0000ff;
    padding: 0 0 2rem 0;
    font-size: 1.5rem;
    margin-top: 0;
    font-style: italic;
}
.paragraph-text-link {
    color: #0000ff;
    text-decoration: none;
    font-weight: bold;
}
.paragraph-text-link:hover {
    text-decoration: underline 3px;
}
.right-side {
    width: 30%;
    margin: 0 12% 0 2%;
    padding: 1rem;
    background-color: #ffffffbf;
}
.right-side img {
    width: 100%;
}
.right-side a {
    display: inline-block;
    color: #0000ff;
    margin-bottom: 2rem;
    text-decoration: none;
    font-size: 1.1rem;
}
.right-side a:hover {
    outline: 2px solid #0000ff;
}



footer { 
    position: absolute;    
    bottom: 0;
    left: 0;
    width: 100%;
    color: white;
    background-image: url(https://github.com/UWFront-End-Cert/starters/blob/master/lesson04-mock4-footer-image.jpg?raw=true);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding: 5rem 0;
} 
footer img {
    width: 25%;    
}
footer ul {
    list-style-type: none;
    padding-bottom: 2rem;
}
footer li {
    display: inline;
}
footer li:after {
    content: "/";
    padding: .5rem;
}
footer li:last-of-type:after {
    content: none;
}
footer a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 1rem;
}
footer a:hover {
    outline: 2px solid white;
}
.footer-main-text {
    display: inline-block;
    line-height: 200%;
    width: 30%;
    padding: 1rem 0;
    color:#ffffff
}
.location {
    display: inline;
    padding: 1rem 0;
    color:#ffffff;
}
.location:after {
    content: "|";
    padding: 0 1rem;
}
.location:last-of-type:after {
    content: none;
}

.profile-main {
    display: block;
}
.profile-header {
    text-align: center;
    padding: 2rem;
    background-color: #ffffffbf;
}
.kitty-profiles-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1%;
    padding: 0;
    margin: 2%;
}
.kitty-profile-box {
    width: 30%;
    list-style-type: none;
    text-align: center;
    margin-bottom: 5%;
    padding: 1rem;
    background-color: #ffffffbf;
    display: flex;
    flex-direction: column;
}
.kitty-profile-box img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 2rem;
    padding: 2%;
}
.kitty-name {
    margin-bottom: 1rem;
}
.kitty-desc {
    color: black;
    text-align: left;
    margin-bottom: 1rem;
    flex: 1 1 100%;
}

.kitty-link {
    display: block;
    text-decoration: none;
    color: #0000ff;
    padding: 1rem;
    margin-top: 1rem;
}

.kittty-link:hover {
    outline: 2px solid #0000ff;
}

a:focus {
    outline: 4px solid #3A3A3A;
    background-color: white;
    color: #3A3A3A;
}
.skip-link {
    position: absolute;
    left: -10000px;
    z-index: 999;
    padding: 1rem;
    background: #0000ff;
    color: black;
    opacity: 0;
    text-decoration: none;
}
.skip-link:focus {
    left: 50%;
    top: 8px;
    transform: translate(-50%);
    opacity: 1;
}